@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

.logout:active{
    border: none;
    outline: none;
}
.logout:focus{
    border: none;
    outline: none;
}

*{
    font-family: 'Inter', sans-serif;
}